:root {
  --main-background-color: #ffffff;
  --main-text-color: #212121;
  --text-description-color: #757575;
  --object-active-color: #2196f3;
  --accent-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --main-font-family: "Roboto", sans-serif;
  --logo-font-family: "Raleway";
  --button-active-color: #188ce8;
  --header-border-color: #ececec;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --footer-social-background-color: rgba(255, 255, 255, 0.1);
  --icons-color: #afb1b8;
}

.clients__title, .team__title {
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 30px;
}

body {
  background: var(--main-background-color);
  font-family: var(--main-font-family);
  color: var(--main-text-color);
  font-size: 14px;
  letter-spacing: 0.03em;
  margin: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

ul {
  padding-left: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.img {
  display: block;
  width: 100%;
  height: auto;
}

.section {
  padding-bottom: 60px;
  padding-top: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.btn {
  background: var(--object-active-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  color: var(--main-background-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.btn:active {
  background: var(--button-active-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header::after {
  content: "";
  display: block;
  border-bottom: 1px solid var(--header-border-color);
}

.header {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  font-family: var(--logo-font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  color: var(--main-text-color);
}
.header__logo--span {
  color: var(--object-active-color);
}

.header__burger-btn {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
}
.header-mobile .header__burger-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #fff;
}
@media (min-width: 768px) {
  .header__burger-btn {
    display: none;
  }
}

.header-mobile {
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: var(--main-background-color);
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-mobile.is-open {
  transform: translateX(0);
}

.header-mobile__nav-items:not(:last-child) {
  margin-bottom: 32px;
}

.header-mobile__nav-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-mobile__nav-link:hover, .header-mobile__nav-link:focus {
  color: var(--object-active-color);
}

.header-mobile__contacts-items:not(:last-child) {
  margin-bottom: 32px;
}

.header-mobile__contacts-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
  color: var(--object-active-color);
}

.header-mobile__contacts-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  color: var(--text-description-color);
}

.header-mobile-menu__social {
  display: flex;
  margin-top: 60px;
  flex-wrap: wrap;
}

.header_mobile-menu__social-link,
.header_mobile-menu__social-link--instagram,
.header_mobile-menu__social-link--linkedin {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: var(--object-active-color);
}

.header_mobile-menu__social-link {
  padding-left: 10px;
  padding-right: 10px;
}

.header_mobile-menu__social-link--instagram {
  padding-right: 10px;
}

.header_mobile-menu__social-link--linkedin {
  padding-left: 10px;
}

.header_mobile-menu__social-items::after,
.header_mobile-menu__social-items--instagram::after {
  content: "";
  width: 100%;
  height: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--object-active-color);
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: -1px;
}

@media (max-width: 767px) {
  .header__nav,
.header__contacts-list {
    display: none;
  }
}
.hero {
  margin-left: auto;
  margin-right: auto;
  background-color: var(--footer-background-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 118px;
  padding-bottom: 118px;
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-background-color);
  text-transform: uppercase;
  margin-bottom: 30px;
}

.hero__btn {
  min-width: 200px;
  height: 50px;
  margin: 0 auto;
  display: block;
}

.benefits__icon-container {
  max-width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-background-color);
  margin-bottom: 30px;
  border-radius: 4px;
}

.benefits__icon {
  width: 70px;
  height: 70px;
}

.benefits__list-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2142857143;
  margin-bottom: 10px;
  text-align: center;
}

.benefits__list-description {
  line-height: 1.7142857143;
  color: var(--text-description-color);
}

.benefits__items {
  margin-bottom: 30px;
}
.benefits__items:last-child {
  margin-bottom: 0;
}

.we-do {
  display: none;
}

.team {
  background: var(--accent-background-color);
}

.team__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team__items-container {
  padding-top: 30px;
}

.team__items {
  background: var(--main-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  border: none;
  max-width: 450px;
  margin-bottom: 30px;
}

.team__items-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}

.team__items-description {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--text-description-color);
}

.team__social {
  display: flex;
  padding-left: 122px;
  padding-right: 122px;
  padding-bottom: 24px;
  margin-top: 16px;
  gap: 10px;
}

.team__social-link {
  display: inline-flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: var(--icons-color);
  background-color: transparent;
}

.team__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  justify-items: center;
}

.clients__link {
  display: inline-flex;
  width: 210px;
  height: 92px;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--icons-color);
  border-radius: 4px;
  color: var(--icons-color);
  background-color: var(--main-background-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  color: var(--object-active-color);
  border: 1px solid var(--object-active-color);
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.portfolio__filter {
  display: flex;
  justify-content: center;
  margin-bottom: 56px;
  gap: 8px;
}

.portfolio__filter-btn {
  height: 38px;
  background: var(--accent-background-color);
  border-radius: 4px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  cursor: pointer;
  font-family: var(--main-font-family);
  color: var(--main-text-color);
  padding-left: 22px;
  padding-right: 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__filter-btn:hover, .portfolio__filter-btn:focus {
  background: var(--object-active-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--main-background-color);
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-items: center;
}

.portfolio__card {
  min-width: 370px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.portfolio__card:hover, .portfolio__card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__card-container {
  padding: 20px 24px 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.portfolio__card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio__card-description {
  font-size: 16px;
  line-height: 1.88;
  color: var(--text-description-color);
}

.portfolio__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio__description {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  align-items: center;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__card:hover .portfolio__description, .portfolio__card:focus .portfolio__description {
  transform: translateY(0);
}

.portfolio__text {
  font-size: 18px;
  line-height: 1.5555555556;
  color: var(--main-background-color);
}/*# sourceMappingURL=main.css.map */