:root {
  --main-background-color: #ffffff;
  --main-text-color: #212121;
  --text-description-color: #757575;
  --object-active-color: #2196f3;
  --accent-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --main-font-family: "Roboto", sans-serif;
  --logo-font-family: "Raleway";
  --button-active-color: #188ce8;
  --header-border-color: #ececec;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --footer-social-background-color: rgba(255, 255, 255, 0.1);
  --icons-color: #afb1b8;
}

.clients__title, .team__title {
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 30px;
}

body {
  margin: 0;
  font-family: var(--main-font-family);
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  background: var(--main-background-color);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

ul {
  padding-left: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.img {
  display: block;
  width: 100%;
  height: auto;
}

.section {
  padding-bottom: 60px;
  padding-top: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--main-background-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  background: var(--object-active-color);
  cursor: pointer;
}
.btn:active {
  background: var(--button-active-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hidden.active, .body-hidden.active {
  overflow-y: hidden;
}

.page-header {
  position: relative;
}
.page-header::after {
  content: "";
  display: block;
  border-bottom: 1px solid var(--header-border-color);
}

.header {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 0) and (max-width: 767px) {
  .header {
    justify-content: space-between;
  }
}

.header__logo {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: var(--logo-font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  color: var(--main-text-color);
}
.header__logo--span {
  color: var(--object-active-color);
}
@media screen and (min-width: 768px) {
  .header__logo {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 87px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
    font-size: 26px;
  }
}

.header__burger-btn {
  position: absolute;
  top: 5px;
  right: 10px;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
}
.header-mobile .header__burger-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #fff;
}
.header-mobile .header__burger-btn:hover {
  fill: var(--object-active-color);
}
@media screen and (min-width: 768px) {
  .header__burger-btn {
    display: none;
  }
}

.header-mobile {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  z-index: 999;
  background-color: var(--main-background-color);
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-mobile.is-open {
  transform: translateX(0);
}
@media screen and (min-width: 768px) {
  .header-mobile {
    display: none;
  }
}

.header-mobile__nav-items:not(:last-child) {
  margin-bottom: 32px;
}

.header-mobile__nav-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-mobile__nav-link:hover, .header-mobile__nav-link:focus {
  color: var(--object-active-color);
}

.header-mobile__contacts-items:not(:last-child) {
  margin-bottom: 32px;
}

.header-mobile__contacts-tel {
  font-weight: 500;
  font-size: 22px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--object-active-color);
}
@media screen and (min-width: 480px) {
  .header-mobile__contacts-tel {
    font-size: 34px;
  }
}

.header-mobile__contacts-mail {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--text-description-color);
}
@media screen and (min-width: 480px) {
  .header-mobile__contacts-mail {
    font-size: 24px;
  }
}

.header-mobile-menu__social {
  display: flex;
  margin-top: 60px;
  flex-wrap: wrap;
  gap: 10px;
}

.header_mobile-menu__social-link,
.header_mobile-menu__social-link--instagram,
.header_mobile-menu__social-link--linkedin {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--object-active-color);
}
@media screen and (min-width: 480px) {
  .header_mobile-menu__social-link,
.header_mobile-menu__social-link--instagram,
.header_mobile-menu__social-link--linkedin {
    font-size: 18px;
  }
}

.header_mobile-menu__social-link {
  padding-right: 8px;
}
@media screen and (min-width: 480px) {
  .header_mobile-menu__social-link {
    padding-right: 10px;
  }
}

.header_mobile-menu__social-link--instagram {
  padding-right: 8px;
}
@media screen and (min-width: 480px) {
  .header_mobile-menu__social-link--instagram {
    padding-right: 10px;
  }
}

.header_mobile-menu__social-items,
.header_mobile-menu__social-items--instagram {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

@media (max-width: 767px) {
  .header__nav {
    display: none;
  }
}

.header__nav-list,
.header__contacts-list {
  display: flex;
  margin-left: auto;
}
@media (max-width: 767px) {
  .header__nav-list,
.header__contacts-list {
    display: none;
  }
}

.header__nav-items {
  margin-right: 50px;
}
.header__nav-items:last-child {
  margin-right: 0;
}

@media screen and (min-width: 1200px) {
  .header__contacts-items {
    margin-right: 50px;
  }
  .header__contacts-items:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__contacts-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.header__nav-link,
.header__contacts-link {
  display: inline-block;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__nav-link:hover, .header__nav-link:focus,
.header__contacts-link:hover,
.header__contacts-link:focus {
  color: var(--object-active-color);
}

.header__nav-link {
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--main-text-color);
}

.header__contacts-link {
  display: inline-flex;
  align-items: center;
  color: var(--text-description-color);
}
@media screen and (min-width: 1200px) {
  .header__contacts-link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.header__contacts-icon {
  margin-right: 10px;
  fill: currentColor;
}

.header__nav-items .current {
  position: relative;
  color: var(--object-active-color);
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--object-active-color);
}

.hero {
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: var(--footer-background-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-background-color);
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__btn {
  display: block;
  min-width: 200px;
  height: 50px;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .hero__btn {
    min-width: 216px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits {
    padding-bottom: 0px;
  }
}

.benefits__icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--accent-background-color);
}
@media screen and (min-width: 768px) {
  .benefits__icon-container {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__icon-container {
    width: 270px;
  }
}

.benefits__icon {
  width: 70px;
  height: 70px;
}

.benefits__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.benefits__items {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .benefits__items {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .benefits__items {
    width: calc((100% - 90px) / 4);
  }
}

.benefits__list-title {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.21;
  text-align: center;
}

.benefits__list-description {
  line-height: 1.71;
  color: var(--text-description-color);
}

@media screen and (max-width: 1199px) {
  .we-do {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

@media screen and (min-width: 1200px) {
  .we-do__title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
  }
  .we-do__list {
    display: flex;
    gap: 30px;
  }
  .we-do__items {
    position: relative;
  }
  .we-do__description-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(47, 48, 58, 0.8);
    padding-top: 27px;
    padding-bottom: 27px;
  }
  .we-do__description {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: var(--main-background-color);
  }
}
.team {
  background: var(--accent-background-color);
}

@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
  }
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.team__items-container {
  padding-top: 30px;
}

.team__items {
  width: 100%;
  border-radius: 0px 0px 4px 4px;
  border: none;
  background: var(--main-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 768px) {
  .team__items {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__items {
    width: calc((100% - 90px) / 4);
  }
}

.team__items-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__items-description {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--text-description-color);
}

.team__social {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-bottom: 24px;
  margin-top: 16px;
}
@media screen and (min-width: 1200px) {
  .team__social {
    padding-bottom: 30px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

.team__social-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icons-color);
  background-color: transparent;
}
@media screen and (min-width: 1200px) {
  .team__social-link {
    background-color: var(--main-background-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .team__social-link:hover, .team__social-link:focus {
    background-color: var(--object-active-color);
    color: var(--main-background-color);
  }
}

.team__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

@media screen and (min-width: 1200px) {
  .clients__title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
  }
}

.clients__list {
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.clients__link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 92px;
  border: 1px solid var(--icons-color);
  border-radius: 4px;
  color: var(--icons-color);
  background-color: var(--main-background-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--object-active-color);
  color: var(--object-active-color);
}
@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
  }
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--footer-background-color);
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    gap: 0;
  }
}

.footer__contacts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .footer__contacts-container {
    margin-right: 70px;
  }
}

.footer__logo {
  font-family: var(--logo-font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  text-align: center;
  color: var(--main-background-color);
}
.footer__logo--span {
  color: var(--object-active-color);
}
@media screen and (min-width: 1200px) {
  .footer__logo {
    font-size: 26px;
    line-height: 1.2;
  }
}

.footer__contacts {
  margin-top: 20px;
  font-style: normal;
  text-align: center;
  line-height: 1.71;
  color: var(--main-background-color);
}
@media screen and (min-width: 1200px) {
  .footer__contacts {
    text-align: left;
  }
}

.footer__contacts-address {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .footer__contacts-address {
    margin-bottom: 9px;
  }
}

.footer__contacts-items {
  margin-bottom: 8px;
}
.footer__contacts-items:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 1200px) {
  .footer__contacts-items {
    margin-bottom: 9px;
  }
}

.footer__contacts-link {
  color: var(--footer-contacts-color);
}
@media screen and (min-width: 1200px) {
  .footer__contacts-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer__contacts-link:hover, .footer__contacts-link:focus {
    color: var(--main-background-color);
  }
}

.footer__social-title,
.footer__subscribe-label {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-background-color);
}
@media screen and (min-width: 0) and (max-width: 767px) {
  .footer__social-title,
.footer__subscribe-label {
    margin-top: 60px;
  }
}

.footer__social-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__social {
  display: flex;
  gap: 10px;
}

.footer__social-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--footer-social-background-color);
}
@media screen and (min-width: 1200px) {
  .footer__social-link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer__social-link:hover, .footer__social-link:focus {
    background-color: var(--object-active-color);
  }
}

.footer__icon {
  width: 20px;
  height: 20px;
  fill: var(--main-background-color);
}

.footer__subscribe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .footer__subscribe-container {
    margin-left: 93px;
    flex-direction: row;
    align-items: unset;
  }
}

.footer__subscribe-field {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .footer__subscribe-field {
    align-items: unset;
  }
}

.footer__subscribe-input {
  width: 90vw;
  max-width: 450px;
  height: 50px;
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  color: var(--footer-contacts-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  outline: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__subscribe-input:focus {
  border: 1px solid var(--object-active-color);
}
.footer__subscribe-input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--footer-contacts-color);
}
.footer__subscribe-input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--footer-contacts-color);
}
.footer__subscribe-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--footer-contacts-color);
}
@media screen and (min-width: 768px) {
  .footer__subscribe-input {
    width: 100vw;
  }
}
@media screen and (min-width: 1200px) {
  .footer__subscribe-input {
    width: 358px;
  }
}

.footer__subscribe-btn-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 20px;
}
@media screen and (min-width: 1200px) {
  .footer__subscribe-btn-container {
    margin-top: 0;
  }
}

.footer__subscribe-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 1200px) {
  .footer__subscribe-btn {
    margin-left: 12px;
  }
}

.footer__subscribe-icon {
  margin-left: 12px;
}
@media screen and (min-width: 1200px) {
  .footer__subscribe-icon {
    margin-left: 10px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 90%;
  height: 609px;
  background-color: var(--main-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  padding: 42px 40px 40px 40px;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal__close-btn-container {
  position: absolute;
  right: 8px;
  top: 8px;
}

.modal__close-btn {
  cursor: pointer;
  background-color: var(--main-background-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 6px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  cursor: pointer;
  outline: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-btn:hover, .modal__close-btn:focus {
  color: var(--object-active-color);
}

.modal__close-btn-img {
  fill: currentColor;
}

.modal__form {
  margin: 0 auto;
}

.modal__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  margin-top: 2px;
  margin-bottom: 12px;
}
@media screen and (min-width: 480px) {
  .modal__title {
    font-size: 20px;
  }
}

.modal__field {
  display: flex;
  flex-direction: column;
  position: relative;
}

.modal__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--text-description-color);
  margin-bottom: 4px;
}

.modal__input {
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  margin-bottom: 10px;
  padding-left: 42px;
  outline: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus {
  border: 1px solid var(--object-active-color);
}

.modal__icon {
  position: absolute;
  bottom: 21px;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus + .modal__icon {
  fill: var(--object-active-color);
}

.modal__comment {
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  margin-bottom: 10px;
  resize: none;
  padding: 12px 16px;
  outline: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__comment:focus {
  border: 1px solid var(--object-active-color);
}
.modal__comment::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__comment:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__policy-label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__policy-chekbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal__policy-text {
  font-size: 10px;
  line-height: 1.71;
  color: var(--text-description-color);
}
@media screen and (min-width: 480px) {
  .modal__policy-text {
    font-size: 14px;
  }
}

.modal__policy-link {
  text-decoration: underline;
  color: var(--object-active-color);
}

.modal__policy-icon {
  border: 2px solid var(--main-text-color);
  border-radius: 2px;
  margin-right: 9px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__policy-chekbox:checked + .modal__policy-icon {
  background-color: var(--object-active-color);
  border: 2px solid var(--object-active-color);
}

.modal__send-btn {
  min-width: 200px;
  height: 50px;
  margin: 0 auto;
  display: block;
  margin-top: 30px;
}

.portfolio__filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  row-gap: 15px;
  -moz-column-gap: 8px;
       column-gap: 8px;
  max-width: 80vw;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .portfolio__filter {
    justify-content: center;
    max-width: 100%;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__filter {
    margin-bottom: 56px;
  }
}

.portfolio__filter-btn {
  height: 38px;
  padding-left: 22px;
  padding-right: 22px;
  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  border-radius: 4px;
  border: none;
  color: var(--main-text-color);
  background: var(--accent-background-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__filter-btn:hover, .portfolio__filter-btn:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--main-background-color);
  background: var(--object-active-color);
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.portfolio__card {
  max-width: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__card:last-child {
  margin-bottom: 0;
}
.portfolio__card:hover, .portfolio__card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 768px) {
  .portfolio__card {
    height: 440px;
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__card {
    height: 404px;
    width: calc((100% - 60px) / 3);
  }
}

.portfolio__card-container {
  padding: 20px 24px 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.portfolio__card-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio__card-description {
  font-size: 16px;
  line-height: 1.88;
  color: var(--text-description-color);
}

.portfolio__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio__description {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding-left: 18px;
  padding-right: 18px;
  display: flex;
  align-items: center;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__card:hover .portfolio__description, .portfolio__card:focus .portfolio__description {
  transform: translateY(0);
}
@media screen and (min-width: 480px) {
  .portfolio__description {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.portfolio__text {
  font-size: 16px;
  line-height: 1.55;
  color: var(--main-background-color);
}
@media screen and (min-width: 480px) {
  .portfolio__text {
    font-size: 18px;
  }
}/*# sourceMappingURL=main.css.map */