.benefits {
  padding-bottom: 0px;
}

.benefits__icon-container {
  max-width: 270px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-background-color);
  margin-bottom: 30px;
  border-radius: 4px;
}

.benefits__icon {
  width: 70px;
  height: 70px;
}

.benefits__list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.benefits__items {
  max-width: 270px;
}

.benefits__list-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  margin-bottom: 10px;
}

.benefits__list-description {
  line-height: 1.71;
  color: var(--text-description-color);
}
