.benefits__icon-container {
  max-width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-background-color);
  margin-bottom: 30px;
  border-radius: 4px;
}

.benefits__icon {
  width: 70px;
  height: 70px;
}

.benefits__list-title {
  font-size: 14px;
  font-weight: 700;
  line-height: calc(17 / 14);
  margin-bottom: 10px;
  text-align: center;
}

.benefits__list-description {
  line-height: calc(24 / 14);
  color: var(--text-description-color);
}

.benefits__items {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}
