.benefits {
  @include desktop {
    padding-bottom: 0px;
  }
}

.benefits__icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--accent-background-color);

  @include tablet {
    width: 354px;
  }

  @include desktop {
    width: 270px;
  }
}

.benefits__icon {
  width: 70px;
  height: 70px;
}

.benefits__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.benefits__items {
  width: 100%;

  @include tablet {
    width: calc((100% - 30px) / 2);
  }

  @include desktop {
    width: calc((100% - 90px) / 4);
  }
}

.benefits__list-title {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.21;
  text-align: center;

  @include tablet {
    text-align: left;
  }
}

.benefits__list-description {
  line-height: 1.71;
  color: var(--text-description-color);
}
