.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 90%;
  height: 609px;
  background-color: var(--main-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  padding: 42px 40px 40px 40px;

  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0);
  }

  @include mobile {
    width: 450px;
  }

  @include desktop {
    width: 528px;
  }
}

.modal__close-btn-container {
  position: absolute;
  right: 8px;
  top: 8px;
}

.modal__close-btn {
  cursor: pointer;
  background-color: var(--main-background-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 6px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  cursor: pointer;
  outline: transparent;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--object-active-color);
  }
}

.modal__close-btn-img {
  fill: currentColor;
}

.modal__form {
  margin: 0 auto;
}

.modal__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  margin-top: 2px;
  margin-bottom: 12px;

  @include mobile {
    font-size: 20px;
  }
}

.modal__field {
  display: flex;
  flex-direction: column;
  position: relative;
}

.modal__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--text-description-color);
  margin-bottom: 4px;
}

.modal__input {
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  margin-bottom: 10px;
  padding-left: 42px;
  outline: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border: 1px solid var(--object-active-color);
  }
}

.modal__icon {
  position: absolute;
  bottom: 21px;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal__input:focus + & {
    fill: var(--object-active-color);
  }
}

.modal__comment {
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  margin-bottom: 10px;
  resize: none;
  padding: 12px 16px;
  outline: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border: 1px solid var(--object-active-color);
  }

  &::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.modal__policy-label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__policy-chekbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal__policy-text {
  font-size: 10px;
  line-height: 1.71;
  color: var(--text-description-color);

  @include mobile {
    font-size: 12px;
  }

  @include desktop {
    font-size: 14px;
  }
}

.modal__policy-link {
  text-decoration: underline;
  color: var(--object-active-color);
}

.modal__policy-icon {
  border: 2px solid var(--main-text-color);
  border-radius: 2px;
  margin-right: 9px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal__policy-chekbox:checked + & {
    background-color: var(--object-active-color);
    border: 2px solid var(--object-active-color);
  }
}

.modal__send-btn {
  min-width: 200px;
  height: 50px;
  margin: 0 auto;
  display: block;
  margin-top: 30px;
}
