.portfolio__filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 40px;
  row-gap: 15px;
  column-gap: 8px;
  max-width: 80vw;
}

.portfolio__filter-btn {
  height: 38px;
  background: var(--accent-background-color);
  border-radius: 4px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  cursor: pointer;
  font-family: var(--main-font-family);
  color: var(--main-text-color);
  padding-left: 22px;
  padding-right: 22px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background: var(--object-active-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    color: var(--main-background-color);
  }
}

.portfolio__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio__card {
  max-width: 450px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.portfolio__card-container {
  padding: 20px 24px 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.portfolio__card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio__card-description {
  font-size: 16px;
  line-height: 1.88;
  color: var(--text-description-color);
}

.portfolio__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio__description {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  align-items: center;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .portfolio__card:hover &,
  .portfolio__card:focus & {
    transform: translateY(0);
  }
}

.portfolio__text {
  font-size: 18px;
  line-height: calc(28 / 18);
  color: var(--main-background-color);
}
