.team {
  background: var(--accent-background-color);
}

.team__title {
  @extend %section-title-mobile;
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.team__items-container {
  padding-top: 30px;
}

.team__items {
    width: 100%;
  border-radius: 0px 0px 4px 4px;
  border: none;
  background: var(--main-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
  }
}

.team__items-title {
    margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__items-description {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--text-description-color);
}

.team__social {
  display: flex;
  justify-content: center;
    gap: 10px;
  padding-bottom: 24px;
  margin-top: 16px;
}

.team__social-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icons-color);
  background-color: transparent;
}

.team__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
