.we-do__title {
  @extend %section-title;
}

.we-do__list {
  display: flex;
  gap: 30px;
}

.we-do__items {
  position: relative;
}

.we-do__description-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
}

.we-do__description {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  text-transform: uppercase;
  color: var(--main-background-color);
}