:root {
  --main-background-color: #ffffff;
  --main-text-color: #212121;
  --text-description-color: #757575;
  --object-active-color: #2196f3;
  --accent-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --main-font-family: "Roboto", sans-serif;
  --logo-font-family: "Raleway";
  --button-active-color: #188ce8;
  --header-border-color: #ececec;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --footer-social-background-color: rgba(255, 255, 255, 0.1);
  --icons-color: #afb1b8;
}
